__pycache__/
*.pth
TODO.md
*.back
*.log
release/
*.otf
case_search/

# data for LLM discriminator
LLM_Discriminator/data/

# data for kg-bert
kg-bert/data/

# data for openke
openke/FB15k-237N/
openke/CoDEx-S/

# KGE training outputs
openke/output/

# KG-BERT outputs
kg-bert/output/

# LLM discriminator outputs
LLM_Discriminator/output/

# mcts outputs
MCTS/output
