__pycache__/
*.pth
TODO.md
*.back
*.log
release/
auxiliary_triples.txt
auxiliary_triples_old.txt
merged_auxiliary_triples.txt
true_triplets.txt
*.otf
case_search/

# data for LLM discriminator
LLM_Discriminator/data/

# data for kg-bert
kg-bert/data/

# data for openke
openke/FB15k-237N/
openke/CoDEx-S/

# KGE training outputs
openke/output/

# KG-BERT outputs
kg-bert/output/
